[submodule "wiki/w/extensions/AbuseFilter"]
	path = wiki/w/extensions/AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter
	branch = REL1_43
[submodule "wiki/w/extensions/CategoryTree"]
	path = wiki/w/extensions/CategoryTree
	url = https://github.com/wikimedia/mediawiki-extensions-CategoryTree
	branch = REL1_43
[submodule "wiki/w/extensions/Cite"]
	path = wiki/w/extensions/Cite
	url = https://github.com/wikimedia/mediawiki-extensions-Cite
	branch = REL1_43
[submodule "wiki/w/extensions/CodeEditor"]
	path = wiki/w/extensions/CodeEditor
	url = https://github.com/wikimedia/mediawiki-extensions-CodeEditor
	branch = REL1_43
[submodule "wiki/w/extensions/ConfirmEdit"]
	path = wiki/w/extensions/ConfirmEdit
	url = https://github.com/wikimedia/mediawiki-extensions-ConfirmEdit
	branch = REL1_43
[submodule "wiki/w/extensions/DiscussionTools"]
	path = wiki/w/extensions/DiscussionTools
	url = https://github.com/wikimedia/mediawiki-extensions-DiscussionTools
	branch = REL1_43
[submodule "wiki/w/extensions/Gadgets"]
	path = wiki/w/extensions/Gadgets
	url = https://github.com/wikimedia/mediawiki-extensions-Gadgets
	branch = REL1_43
[submodule "wiki/w/extensions/ImageMap"]
	path = wiki/w/extensions/ImageMap
	url = https://github.com/wikimedia/mediawiki-extensions-ImageMap
	branch = REL1_43
[submodule "wiki/w/extensions/InputBox"]
	path = wiki/w/extensions/InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox
	branch = REL1_43
[submodule "wiki/w/extensions/Interwiki"]
	path = wiki/w/extensions/Interwiki
	url = https://github.com/wikimedia/mediawiki-extensions-Interwiki
	branch = REL1_43
[submodule "wiki/w/extensions/Linter"]
	path = wiki/w/extensions/Linter
	url = https://github.com/wikimedia/mediawiki-extensions-Linter
	branch = REL1_43
[submodule "wiki/w/extensions/LoginNotify"]
	path = wiki/w/extensions/LoginNotify
	url = https://github.com/wikimedia/mediawiki-extensions-LoginNotify
	branch = REL1_43
[submodule "wiki/w/extensions/Math"]
	path = wiki/w/extensions/Math
	url = https://github.com/wikimedia/mediawiki-extensions-Math
	branch = REL1_43
[submodule "wiki/w/extensions/MultimediaViewer"]
	path = wiki/w/extensions/MultimediaViewer
	url = https://github.com/wikimedia/mediawiki-extensions-MultimediaViewer
	branch = REL1_43
[submodule "wiki/w/extensions/Nuke"]
	path = wiki/w/extensions/Nuke
	url = https://github.com/wikimedia/mediawiki-extensions-Nuke
	branch = REL1_43
[submodule "wiki/w/extensions/OATHAuth"]
	path = wiki/w/extensions/OATHAuth
	url = https://github.com/wikimedia/mediawiki-extensions-OATHAuth
	branch = REL1_43
[submodule "wiki/w/extensions/PageImages"]
	path = wiki/w/extensions/PageImages
	url = https://github.com/wikimedia/mediawiki-extensions-PageImages
	branch = REL1_43
[submodule "wiki/w/extensions/ParserFunctions"]
	path = wiki/w/extensions/ParserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-ParserFunctions
	branch = REL1_43
[submodule "wiki/w/extensions/PdfHandler"]
	path = wiki/w/extensions/PdfHandler
	url = https://github.com/wikimedia/mediawiki-extensions-PdfHandler
	branch = REL1_43
[submodule "wiki/w/extensions/Poem"]
	path = wiki/w/extensions/Poem
	url = https://github.com/wikimedia/mediawiki-extensions-Poem
	branch = REL1_43
[submodule "wiki/w/extensions/ReplaceText"]
	path = wiki/w/extensions/ReplaceText
	url = https://github.com/wikimedia/mediawiki-extensions-ReplaceText
	branch = REL1_43
[submodule "wiki/w/extensions/Scribunto"]
	path = wiki/w/extensions/Scribunto
	url = https://github.com/wikimedia/mediawiki-extensions-Scribunto
	branch = REL1_43
[submodule "wiki/w/extensions/SecureLinkFixer"]
	path = wiki/w/extensions/SecureLinkFixer
	url = https://github.com/wikimedia/mediawiki-extensions-SecureLinkFixer
	branch = REL1_43
[submodule "wiki/w/extensions/SpamBlacklist"]
	path = wiki/w/extensions/SpamBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-SpamBlacklist
	branch = REL1_43
[submodule "wiki/w/extensions/SyntaxHighlight_GeSHi"]
	path = wiki/w/extensions/SyntaxHighlight_GeSHi
	url = https://github.com/wikimedia/mediawiki-extensions-SyntaxHighlight_GeSHi
	branch = REL1_43
[submodule "wiki/w/extensions/TemplateData"]
	path = wiki/w/extensions/TemplateData
	url = https://github.com/wikimedia/mediawiki-extensions-TemplateData
	branch = REL1_43
[submodule "wiki/w/extensions/TextExtracts"]
	path = wiki/w/extensions/TextExtracts
	url = https://github.com/wikimedia/mediawiki-extensions-TextExtracts
	branch = REL1_43
[submodule "wiki/w/extensions/Thanks"]
	path = wiki/w/extensions/Thanks
	url = https://github.com/wikimedia/mediawiki-extensions-Thanks
	branch = REL1_43
[submodule "wiki/w/extensions/TitleBlacklist"]
	path = wiki/w/extensions/TitleBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-TitleBlacklist
	branch = REL1_43
[submodule "wiki/w/extensions/VisualEditor"]
	path = wiki/w/extensions/VisualEditor
	url = https://github.com/wikimedia/mediawiki-extensions-VisualEditor
	branch = REL1_43
[submodule "wiki/w/extensions/WikiEditor"]
	path = wiki/w/extensions/WikiEditor
	url = https://github.com/wikimedia/mediawiki-extensions-WikiEditor
	branch = REL1_43
[submodule "wiki/w/skins/MinervaNeue"]
	path = wiki/w/skins/MinervaNeue
	url = https://github.com/wikimedia/mediawiki-skins-MinervaNeue
	branch = REL1_43
[submodule "wiki/w/skins/MonoBook"]
	path = wiki/w/skins/MonoBook
	url = https://github.com/wikimedia/mediawiki-skins-MonoBook
	branch = REL1_43
[submodule "wiki/w/skins/Timeless"]
	path = wiki/w/skins/Timeless
	url = https://github.com/wikimedia/mediawiki-skins-Timeless
	branch = REL1_43
[submodule "wiki/w/skins/Vector"]
	path = wiki/w/skins/Vector
	url = https://github.com/wikimedia/mediawiki-skins-Vector
	branch = REL1_43
[submodule "wiki/w/skins/ScratchWikiSkin2"]
	path = wiki/w/skins/ScratchWikiSkin2
	url = https://github.com/InternationalScratchWiki/ScratchWikiSkin2
[submodule "wiki/w/extensions/Echo"]
	path = wiki/w/extensions/Echo
	url = https://github.com/InternationalScratchWiki/Echo
[submodule "wiki/w/extensions/mw-ScratchBlocks4"]
	path = wiki/w/extensions/mw-ScratchBlocks4
	url = https://github.com/InternationalScratchWiki/mw-ScratchBlocks4
[submodule "wiki/w/extensions/scratch-confirmaccount-v3"]
	path = wiki/w/extensions/scratch-confirmaccount-v3
	url = https://github.com/InternationalScratchWiki/scratch-confirmaccount-v3
[submodule "wiki/w/extensions/mediawiki-elections"]
	path = wiki/w/extensions/mediawiki-elections
	url = https://github.com/InternationalScratchWiki/mediawiki-elections
[submodule "wiki/w/extensions/OSBlocks"]
	path = wiki/w/extensions/OSBlocks
	url = https://github.com/InternationalScratchWiki/OSBlocks
[submodule "wiki/w/extensions/DiffBlocker"]
	path = wiki/w/extensions/DiffBlocker
	url = https://github.com/InternationalScratchWiki/DiffBlocker
[submodule "wiki/w/extensions/scratch-confirmaccount-v3-webhooks"]
	path = wiki/w/extensions/scratch-confirmaccount-v3-webhooks
	url = https://github.com/InternationalScratchWiki/scratch-confirmaccount-v3-webhooks
[submodule "wiki/w/extensions/SyntaxHighlight_PrismJS"]
	path = wiki/w/extensions/SyntaxHighlight_PrismJS
	url = https://github.com/InternationalScratchWiki/SyntaxHighlight_PrismJS
[submodule "wiki/w/extensions/HiddenBlockAppealEmail"]
	path = wiki/w/extensions/HiddenBlockAppealEmail
	url = https://github.com/InternationalScratchWiki/HiddenBlockAppealEmail
[submodule "wiki/w/extensions/mw-scratchsig3"]
	path = wiki/w/extensions/mw-scratchsig3
	url = https://github.com/InternationalScratchWiki/mw-scratchsig3
[submodule "wiki/w/extensions/mediawiki-scratch-login"]
	path = wiki/w/extensions/mediawiki-scratch-login
	url = https://github.com/InternationalScratchWiki/mediawiki-scratch-login
[submodule "wiki/w/extensions/mw-embedScratch"]
	path = wiki/w/extensions/mw-embedScratch
	url = https://github.com/InternationalScratchWiki/mw-embedScratch
[submodule "wiki/w/extensions/EmbedVideo"]
	path = wiki/w/extensions/EmbedVideo
	url = https://github.com/StarCitizenWiki/mediawiki-extensions-EmbedVideo
	branch = REL1_43
[submodule "wiki/w/extensions/RecentChangesWebhooks"]
	path = wiki/w/extensions/RecentChangesWebhooks
	url = https://github.com/Kenny2github/RecentChangesWebhooks
[submodule "wiki/w/extensions/Report"]
	path = wiki/w/extensions/Report
	url = https://github.com/wikimedia/mediawiki-extensions-Report
	branch = REL1_43
[submodule "wiki/w/extensions/EventStreamConfig"]
	path = wiki/w/extensions/EventStreamConfig
	url = https://github.com/wikimedia/mediawiki-extensions-EventStreamConfig
	branch = REL1_43
[submodule "wiki/w/extensions/EventLogging"]
	path = wiki/w/extensions/EventLogging
	url = https://github.com/wikimedia/mediawiki-extensions-EventLogging
	branch = REL1_43
[submodule "wiki/w/extensions/Loops"]
	path = wiki/w/extensions/Loops
	url = https://github.com/wikimedia/mediawiki-extensions-Loops
	branch = REL1_43
[submodule "wiki/w/extensions/WikiSEO"]
	path = wiki/w/extensions/WikiSEO
	url = https://github.com/wikimedia/mediawiki-extensions-WikiSEO
	branch = REL1_43
[submodule "wiki/w/extensions/HitCounters"]
	path = wiki/w/extensions/HitCounters
	url = https://github.com/wikimedia/mediawiki-extensions-HitCounters
	branch = REL1_43
[submodule "wiki/w/extensions/BetaFeatures"]
	path = wiki/w/extensions/BetaFeatures
	url = https://github.com/wikimedia/mediawiki-extensions-BetaFeatures
	branch = REL1_43
[submodule "wiki/w/extensions/CharInsert"]
	path = wiki/w/extensions/CharInsert
	url = https://github.com/wikimedia/mediawiki-extensions-CharInsert
	branch = REL1_43
[submodule "wiki/w/extensions/CheckUser"]
	path = wiki/w/extensions/CheckUser
	url = https://github.com/wikimedia/mediawiki-extensions-CheckUser
	branch = REL1_43
[submodule "wiki/w/extensions/CiteThisPage"]
	path = wiki/w/extensions/CiteThisPage
	url = https://github.com/wikimedia/mediawiki-extensions-CiteThisPage
	branch = REL1_43
[submodule "wiki/w/extensions/CodeMirror"]
	path = wiki/w/extensions/CodeMirror
	url = https://github.com/wikimedia/mediawiki-extensions-CodeMirror
	branch = REL1_43
[submodule "wiki/w/extensions/CookieWarning"]
	path = wiki/w/extensions/CookieWarning
	url = https://github.com/wikimedia/mediawiki-extensions-CookieWarning
	branch = REL1_43
[submodule "wiki/w/extensions/Description2"]
	path = wiki/w/extensions/Description2
	url = https://github.com/wikimedia/mediawiki-extensions-Description2
	branch = REL1_43
[submodule "wiki/w/extensions/Disambiguator"]
	path = wiki/w/extensions/Disambiguator
	url = https://github.com/wikimedia/mediawiki-extensions-Disambiguator
	branch = REL1_43
[submodule "wiki/w/extensions/DismissableSiteNotice"]
	path = wiki/w/extensions/DismissableSiteNotice
	url = https://github.com/wikimedia/mediawiki-extensions-DismissableSiteNotice
	branch = REL1_43
[submodule "wiki/w/extensions/Editcount"]
	path = wiki/w/extensions/Editcount
	url = https://github.com/wikimedia/mediawiki-extensions-Editcount
	branch = REL1_43
[submodule "wiki/w/extensions/GuidedTour"]
	path = wiki/w/extensions/GuidedTour
	url = https://github.com/wikimedia/mediawiki-extensions-GuidedTour
	branch = REL1_43
[submodule "wiki/w/extensions/HeadScript"]
	path = wiki/w/extensions/HeadScript
	url = https://github.com/wikimedia/mediawiki-extensions-HeadScript
	branch = REL1_43
[submodule "wiki/w/extensions/InterwikiSorting"]
	path = wiki/w/extensions/InterwikiSorting
	url = https://github.com/wikimedia/mediawiki-extensions-InterwikiSorting
	branch = REL1_43
[submodule "wiki/w/extensions/LabeledSectionTransclusion"]
	path = wiki/w/extensions/LabeledSectionTransclusion
	url = https://github.com/wikimedia/mediawiki-extensions-LabeledSectionTransclusion
	branch = REL1_43
[submodule "wiki/w/extensions/Lockdown"]
	path = wiki/w/extensions/Lockdown
	url = https://github.com/wikimedia/mediawiki-extensions-Lockdown
	branch = REL1_43
[submodule "wiki/w/extensions/MassMessage"]
	path = wiki/w/extensions/MassMessage
	url = https://github.com/wikimedia/mediawiki-extensions-MassMessage
	branch = REL1_43
[submodule "wiki/w/extensions/MobileDetect"]
	path = wiki/w/extensions/MobileDetect
	url = https://github.com/wikimedia/mediawiki-extensions-MobileDetect
	branch = REL1_43
[submodule "wiki/w/extensions/NativeSvgHandler"]
	path = wiki/w/extensions/NativeSvgHandler
	url = https://github.com/wikimedia/mediawiki-extensions-NativeSvgHandler
	branch = REL1_43
[submodule "wiki/w/extensions/NewestPages"]
	path = wiki/w/extensions/NewestPages
	url = https://github.com/wikimedia/mediawiki-extensions-NewestPages
	branch = REL1_43
[submodule "wiki/w/extensions/OpenGraphMeta"]
	path = wiki/w/extensions/OpenGraphMeta
	url = https://github.com/wikimedia/mediawiki-extensions-OpenGraphMeta
	branch = REL1_43
[submodule "wiki/w/extensions/Popups"]
	path = wiki/w/extensions/Popups
	url = https://github.com/wikimedia/mediawiki-extensions-Popups
	branch = REL1_43
[submodule "wiki/w/extensions/RandomInCategory"]
	path = wiki/w/extensions/RandomInCategory
	url = https://github.com/wikimedia/mediawiki-extensions-RandomInCategory
	branch = REL1_43
[submodule "wiki/w/extensions/RandomSelection"]
	path = wiki/w/extensions/RandomSelection
	url = https://github.com/wikimedia/mediawiki-extensions-RandomSelection
	branch = REL1_43
[submodule "wiki/w/extensions/RelatedArticles"]
	path = wiki/w/extensions/RelatedArticles
	url = https://github.com/wikimedia/mediawiki-extensions-RelatedArticles
	branch = REL1_43
[submodule "wiki/w/extensions/Renameuser"]
	path = wiki/w/extensions/Renameuser
	url = https://github.com/wikimedia/mediawiki-extensions-Renameuser
	branch = REL1_43
[submodule "wiki/w/extensions/RevisionSlider"]
	path = wiki/w/extensions/RevisionSlider
	url = https://github.com/wikimedia/mediawiki-extensions-RevisionSlider
	branch = REL1_43
[submodule "wiki/w/extensions/Tabs"]
	path = wiki/w/extensions/Tabs
	url = https://github.com/wikimedia/mediawiki-extensions-Tabs
	branch = REL1_43
[submodule "wiki/w/extensions/TemplateStyles"]
	path = wiki/w/extensions/TemplateStyles
	url = https://github.com/wikimedia/mediawiki-extensions-TemplateStyles
	branch = REL1_43
[submodule "wiki/w/extensions/TwoColConflict"]
	path = wiki/w/extensions/TwoColConflict
	url = https://github.com/wikimedia/mediawiki-extensions-TwoColConflict
	branch = REL1_43
[submodule "wiki/w/extensions/Variables"]
	path = wiki/w/extensions/Variables
	url = https://github.com/wikimedia/mediawiki-extensions-Variables
	branch = REL1_43
[submodule "wiki/w/extensions/YouTube"]
	path = wiki/w/extensions/YouTube
	url = https://github.com/wikimedia/mediawiki-extensions-YouTube
	branch = REL1_43
[submodule "wiki/w/extensions/intersection"]
	path = wiki/w/extensions/intersection
	url = https://github.com/wikimedia/mediawiki-extensions-intersection
	branch = REL1_43
[submodule "wiki/w/extensions/LiteSpeedCache"]
	path = wiki/w/extensions/LiteSpeedCache
	url = https://github.com/litespeedtech/lscache_mediawiki
[submodule "wiki/w/extensions/AutoSitemap"]
	path = wiki/w/extensions/AutoSitemap
	url = https://github.com/dolfinus/AutoSitemap
[submodule "wiki/w/extensions/GuguruSearch"]
	path = wiki/w/extensions/GuguruSearch
	url = https://github.com/apple502j/GuguruSearch
[submodule "wiki/w/extensions/DynamicPageList4"]
	path = wiki/w/extensions/DynamicPageList4
	url = https://github.com/Universal-Omega/DynamicPageList4
	branch = REL1_43
[submodule "wiki/w/extensions/ScratchOAuth2"]
	path = wiki/w/extensions/ScratchOAuth2
	url = https://github.com/ScratchVerifier/ScratchOAuth2.git
[submodule "wiki/w/extensions/OGMetaPF"]
	path = wiki/w/extensions/OGMetaPF
	url = https://github.com/Kenny2github/OGMetaPF.git
