RewriteEngine On

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# Google stupidity
Header add Permissions-Policy "interest-cohort=()"

# Require auth to access staging wiki
<If "%{SERVER_NAME} =~ m#^staging\.scratch-wiki\.#">
	#AuthType Basic
	AuthName "Staging Scratch Wiki"
	AuthUserFile /home/scratchwiki/web/.htpasswd
	Require valid-user
</If>

# Only allow logged-in users to view diffs
#RewriteCond %{HTTP_COOKIE} !scratchwiki_[a-z0-9]+wikimwuser-sessionId
#RewriteCond %{QUERY_STRING} oldid
#RewriteRule .* - [F,L]

# Litespeed caching
<IfModule LiteSpeed>
	RewriteRule /w/load.php - [E=cache-control:max-age=3600]

	RewriteCond "%{HTTP_COOKIE}" !scratchwiki_[a-z0-9]+wikiUserID
	RewriteRule ^wiki/.* - [E=cache-control:public, max-age=3600]

	RewriteCond "%{HTTP_COOKIE}" scratchwiki_[a-z0-9]+wikiUserID
	RewriteRule ^wiki/.* - [E=cache-control:private]

	CacheEngine on
	CacheEnable public /w/load.php
</IfModule>

# Short URL
RewriteRule ^/?$ wiki/ [R=301,L]
RewriteRule ^/?wiki/(.*)$ w/index.php/$1 [L]

# Extremely convoluted rules that correctly redirect each wiki's
# /w/images URLs to /w/images/(wiki)
RewriteCond %{SERVER_NAME} ^en\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/en/thumb/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/en/thumb/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^en\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/en/thumb/archive/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/en/thumb/archive/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^en\.scratch-wiki\. [NC]
RewriteCond $1 !^en/
RewriteRule ^/?w/images/(.*)$ w/images/en/$1 [L]


RewriteCond %{SERVER_NAME} ^de\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/de/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/de/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^de\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/de/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/de/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^de\.scratch-wiki\. [NC]
RewriteCond $1 !^de/
RewriteRule ^/?w/images/(.*)$ w/images/de/$1 [L]


RewriteCond %{SERVER_NAME} ^fr\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/fr/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/fr/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^fr\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/fr/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/fr/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^fr\.scratch-wiki\. [NC]
RewriteCond $1 !^fr/
RewriteRule ^/?w/images/(.*)$ w/images/fr/$1 [L]


RewriteCond %{SERVER_NAME} ^hu\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/hu/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/hu/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^hu\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/hu/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/hu/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^hu\.scratch-wiki\. [NC]
RewriteCond $1 !^hu/
RewriteRule ^/?w/images/(.*)$ w/images/hu/$1 [L]


RewriteCond %{SERVER_NAME} ^id\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/id/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/id/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^id\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/id/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/id/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^id\.scratch-wiki\. [NC]
RewriteCond $1 !^id/
RewriteRule ^/?w/images/(.*)$ w/images/id/$1 [L]


RewriteCond %{SERVER_NAME} ^ja\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/ja/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/ja/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^ja\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/ja/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/ja/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^ja\.scratch-wiki\. [NC]
RewriteCond $1 !^ja/
RewriteRule ^/?w/images/(.*)$ w/images/ja/$1 [L]


RewriteCond %{SERVER_NAME} ^nl\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/nl/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/nl/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^nl\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/nl/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/nl/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^nl\.scratch-wiki\. [NC]
RewriteCond $1 !^nl/
RewriteRule ^/?w/images/(.*)$ w/images/nl/$1 [L]


RewriteCond %{SERVER_NAME} ^ru\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/ru/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/ru/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^ru\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/ru/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/ru/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^ru\.scratch-wiki\. [NC]
RewriteCond $1 !^ru/
RewriteRule ^/?w/images/(.*)$ w/images/ru/$1 [L]


RewriteCond %{SERVER_NAME} ^test\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/test/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/test/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^test\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/test/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/test/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^test\.scratch-wiki\. [NC]
RewriteCond $1 !^test/
RewriteRule ^/?w/images/(.*)$ w/images/test/$1 [L]


RewriteCond %{SERVER_NAME} ^oauth2\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/oauth2/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/oauth2/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^oauth2\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/oauth2/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/oauth2/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^oauth2\.scratch-wiki\. [NC]
RewriteCond $1 !^oauth2/
RewriteRule ^/?w/images/(.*)$ w/images/oauth2/$1 [L]


RewriteCond %{SERVER_NAME} ^staging\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/staging/thumb/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/staging/thumb/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^staging\.scratch-wiki\. [NC]
RewriteCond %{DOCUMENT_ROOT}/w/images/staging/thumb/archive/$1/$2px-$1 !-f
RewriteCond %{DOCUMENT_ROOT}/w/images/staging/thumb/archive/$1/$2px-$1 !-d
RewriteRule ^/?w/images/thumb/archive/([^/]+)/([0-9]+)px-.*$ w/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]

RewriteCond %{SERVER_NAME} ^staging\.scratch-wiki\. [NC]
RewriteCond $1 !^staging/
RewriteRule ^/?w/images/(.*)$ w/images/staging/$1 [L]
