RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteRule ^/?wiki/(.*)$ w/index.php/$1

Header add Permissions-Policy "interest-cohort=()"

<If "%{SERVER_NAME} =~ m#^staging\.scratch-wiki\.#">
	#AuthType Basic
	AuthName "Staging Scratch Wiki"
	AuthUserFile %{DOCUMENT_ROOT}/../.htpasswd
	Require valid-user
</If>
