RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteRule ^/?wiki/(.*)$ w/index.php/$1

RewriteCond %{SERVER_NAME} ^de\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/de/$1

RewriteCond %{SERVER_NAME} ^en\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/en/$1

RewriteCond %{SERVER_NAME} ^fr\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/fr/$1

RewriteCond %{SERVER_NAME} ^hu\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/hu/$1

RewriteCond %{SERVER_NAME} ^id\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/id/$1

RewriteCond %{SERVER_NAME} ^ja\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/ja/$1

RewriteCond %{SERVER_NAME} ^nl\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/nl/$1

RewriteCond %{SERVER_NAME} ^oauth2\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/oauth2/$1

RewriteCond %{SERVER_NAME} ^ru\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/ru/$1

RewriteCond %{SERVER_NAME} ^staging\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/staging/$1

RewriteCond %{SERVER_NAME} ^test\.scratch-wiki\. [NC]
RewriteRule ^/?w/images/(.*)$ w/images/test/$1

Header add Permissions-Policy "interest-cohort=()"

# Require auth to access staging wiki
<If "%{SERVER_NAME} =~ m#^staging\.scratch-wiki\.#">
	#AuthType Basic
	AuthName "Staging Scratch Wiki"
	AuthUserFile /home/scratchwiki/web/.htpasswd
	Require valid-user
</If>
